<h2>Vehicles</h2>
<button type="button" class="btn btn-primary mt-3" (click)="onAddVehicleClick()">Add vehicle</button>
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Registered</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles | async">
      <td>{{v.make.name}}</td>
      <td>{{v.model}}</td>
      <td>{{v.registered?'yes':'no'}}</td>
      <td>
        <a href="mailto:{{v.contact.email}}">{{v.contact.name}}</a> -
        <span>{{v.contact.phone}}</span>
      </td>
    </tr>
  </tbody>
</table>