<form *ngIf="vehicleForm" [formGroup]="vehicleForm">
  <fieldset>
    <legend>Vehicle</legend>
    <div class="form-group row">
      <label for="vehicle-make" class="col-sm-2 col-form-label">Make</label>
      <div class="col-sm-10">
        <select formControlName="makeId" id="vehicle-make" class="form-control">
          <option value="">-- Select make --</option>
          <option *ngFor="let m of makes" [ngValue]="m.id">{{m.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="vehicle-model" class="col-sm-2 col-form-label">Model</label>
      <div class="col-sm-10">
        <select formControlName="model" id="vehicle-model" class="form-control">
          <option value="">-- Select model --</option>
          <option *ngFor="let ml of models" [value]="ml.name">{{ml.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="vehicle-registered" class="col-sm-2 col-form-label">Registered</label>
      <div class="col-sm-10 ">
        <div class="form-check form-check-inline">
          <input type="radio" formControlName="registered" id="vehicle-registered-yes" [value]="true" class="form-check-input">
          <label for="vehicle-registered-yes" class="form-check-label">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" formControlName="registered" id="vehicle-registered-no" [value]="false" class="form-check-input">
          <label for="vehicle-registered-no" class="form-check-label">No</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="vehicle-features" class="col-sm-2 col-form-label">Features</label>
      <div class="col-sm-10">
        <div *ngFor="let f of featureIds.controls; let i=index" class="form-check">
          <input type="checkbox" [formControl]="f" id="vehicle-feature-{{i}}" class="form-check-input">
          <label for="vehicle-feature-{{i}}" class="form-check-label">{{features[i].name}}</label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset formGroupName="contact">
    <legend>Contact</legend>
    <title></title>
    <div class="form-group row">
      <label for="contact-name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" formControlName="name" class="form-control" id="contact-name">
      </div>
    </div>
    <div class="form-group row">
      <label for="contact-phone" class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input type="text" formControlName="phone" class="form-control" id="contact-phone">
      </div>
    </div>
    <div class="form-group row">
      <label for="contact-email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" formControlName="email" class="form-control" id="contact-email">
      </div>
    </div>
  </fieldset>
</form>