<div class="modal-header">
  <h4 class="modal-title">Add Vehicle</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <vehicle-form #vehicleForm (afterSave)="onAfterSave()"></vehicle-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
  <button type="button" class="btn btn-primary" *ngIf="vehicleForm.vehicleForm" [disabled]="vehicleForm.vehicleForm.invalid"
    (click)="vehicleForm.save()">Save</button>
</div>